.f-wrapper{
    background: var(--green);
    
}
.f-container{
   display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.f-left{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.f-right{
    gap: 5px;
}
.copyright{
    margin-top: 50px;
}
.f-left img{
    margin-top: 10px;
}